	<!--A Design by W3layouts
	Author: W3layout
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
	<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/form_style.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
</head>
<body>
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li style="float:left;"><a href="homepage.html">Home</a></li>
						<li><a href="createmember.html">Create Member</a></li>
						<li><a href="listmembers.html">List Members</a></li>
						<li><a href="createmovie.html">Create Movie</a></li>
						<li><a href="listmovies.html">List Movies</a></li>
						<li><a href="issuemovies.html">Issue Movies</a></li>
						<li><a href="submitmovie.html">Submit Movie</a></li>
						<li><a href="generatebill.html">Generate Bill</a></li>
						<li style="float:right;"><a href="contact.html">Logout</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">

			<script type="text/javascript">
			
			$(document).ready(function(){
				$(".role").click(function(){
					if($(this).val() == 1) {
						$("#memberType").attr("hidden","");
					} else {
						$("#memberType").removeAttr("hidden");
					}
				});


				});


				   function allnumeric(inputtxt)  
				   {  
					 
					 var numbers = /^[0-9]+$/;  
					 if(inputtxt.match(numbers))  
					 {  
					  return true;  
					 }  
					 else  
					 {
					  return false;  
					 }  
				   }
				   
				   function validateEmail(mail)   
					{  
					 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
					  {  
						return (true);
					  }  
					  return (false);
					}  


					function validateCreateMember()   
				   {
				   	
				   		if(document.createmember.roleId.value==null ||document.createmember.roleId.value == ''){
							alert('Role cannot be blank');
							return false;
						} 
				   		if(document.createmember.memberTypeId.value==null ||document.createmember.memberTypeId.value == ''){
							alert('Member Type cannot be blank');
							return false;
						} 
				     	if(document.createmember.fname.value==null ||document.createmember.fname.value == ''){
							alert('Member First Name cannot be blank');
							return false;
						} 
						if(document.createmember.lname.value==null ||document.createmember.lname.value == ''){
							alert('Member Last Name cannot be blank');
							return false;
						}
						if(document.createmember.email.value==null ||document.createmember.email.value == ''){
							alert('Email Address cannot be blank');
							return false;
						} else if(!validateEmail(document.createmember.email.value)){
							alert('Enter valid Email address of the member');
							return false;
						}

						if(document.createmember.areacode.value==null ||document.createmember.areacode.value == ''){
							alert('Please enter Area Code');
							return false;
						}else if(!allnumeric(document.createmember.areacode.value) || document.createmember.areacode.value.length != 3){
							alert('Enter valid Phone Number for the entered Record. Phone Number should be numeric in the following format XXX-XXX-XXXX');
							return false;
						}
						
						if(document.createmember.citycode.value != '' && (!allnumeric(document.createmember.citycode.value) || document.createmember.citycode.value.length!=3)){
							alert('Enter valid city Code for the entered Record. Phone number should be numeric in the following format XXX-XXX-XXXX');
							return false;
						}


						if(document.createmember.phonenum.value != '' && (!allnumeric(document.createmember.phonenum.value) || document.createmember.phonenum.value.length!=4)){
							alert('Enter valid phone number for the entered Record. Phone number should be numeric in the following format XXX-XXX-XXXX');
							return false;
						}

						if(document.createmember.address.value==null ||document.createmember.address.value == ''){
							alert('Address Line 1 cannot be blank');
							return false;
						}
						if(document.createmember.city.value==null ||document.createmember.city.value == ''){
							alert('City value cannot be blank');
							return false;
						}

						if(document.createmember.zip1.value==null ||document.createmember.zip1.value == ''){
							alert('Please enter Zip Code');
							return false;
						}else if(!allnumeric(document.createmember.zip1.value) || document.createmember.zip1.value.length != 5){
							alert('Enter valid Zip Code for the entered Record. Zip code should be numeric in the following format XXXXX OR XXXXX-XXXX');
							return false;
						}
						
						if(document.createmember.zip2.value != '' && (!allnumeric(document.createmember.zip2.value) || document.createmember.zip2.value.length!=4)){
							alert('Enter valid Zip Code extension for the entered Record. Zip code should be numeric in the following format XXXXX OR XXXXX-XXXX');
							return false;
						}
				    }
			
			
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
											// all dropdowns
											$('.wrapper-dropdown-2').removeClass('active');
										});

			});
			</script>    
			<div class="header_bottom">
				<div class="header_bottom_left">										
				</div>

			</div>
		</div>
	</div>

	<!------------End Header ------------>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<div class="header_bottom_center">

							<div class="clear"></div>
						</div>

						<h3>Create Member</h3>
					</div>
				</div>
				<div class="section group">

					<div class="container">
						<header>
							<h1 align="center">Create a New Member </h1>
						</header>
						<div style="color:yellow; font-weight:bold;" align="center">
							<% if(insertedresults != null) {%>
							<%= insertedresults %>
							<% } %>
						</div>
						<form name="createmember" onsubmit="return validateCreateMember()" action="/createmember-submit" method="post">
							<div class="fieldBlock">
								<% for(var i in roles) { %>
								<input type="radio" class="role" name="roleId" value="<%=roles[i].id %>"><%=roles[i].name%>
								<% } %>
								<div id="memberType" hidden>
									<% for(var i in memberTypes) { %>
									<input type="radio" name="memberTypeId" value="<%=memberTypes[i].id %>"><%=memberTypes[i].name%>
									<% } %>
								</div>
							</div>
							<div class="fieldBlock">
								<input id="fname" name="firstname" class="doubleTextBox" placeholder="First Name" type="text"></input>
								<input id="lname" name="lastname" class="doubleTextBox" placeholder="Last Name" type="text"></input>
							</div>
							
							<div class="fieldBlock">
								<input class="singleTextBox" id="email" maxlength="75" name="email" placeholder="E-mail Address" type="text"></input>
							</div>
	
							<div class="fieldBlock">
								<input name="citycode" class="tripleTextBox" placeholder="City Code" type="text"></input>
								<input name="areacode" class="tripleTextBox" placeholder="Area Code" type="text"></input>
								<input name="phonenum" class="tripleTextBox" style="width:143px" placeholder="Phone Number" type="text"></input>
							</div>
	
							<div class="fieldBlock">
								<input class="singleTextBox" id="address" name="address" maxlength="50" placeholder="Address Line 1" type="text"></input>
							</div>
	
							<div class="fieldBlock">
								<input class="singleTextBox" id="address2" name="address2" maxlength="50" placeholder="Address Line 2" type="text"></input>
							</div>
	
							<div class="fieldBlock">
								<input class="doubleTextBox" id="city" maxlength="50" name="city" placeholder="City" type="text"></input>
								<select id="stateId" name="stateId" style="width:300px;"class="doubleTextBox">
									<% for(var i in states) { %>
									<option value="<%=states[i].id %>"><%=states[i].name %></option>
									<% } %>
								</select>
							</div>
	
							<div class="fieldBlock">
								<input id="zip1" maxlength="5" name="zip1" class="doubleTextBox" placeholder="Zip Code" type="text"></input>
								<input id="zip2" class="doubleTextBox" maxlength="4" name="zip2" placeholder="Zip Extn" type="text"></input>
							</div>
	
							<div class="fieldBlock">
								<input class="singleTextBox" placeholder="Password" id="password" maxlength="45" name="password" type="password" />
							</div>
							<div class="fieldBlock" align="center">
								<input name="Submit" class="loginButton singleTextBox" type="submit" value="Register" />
								<!--a href="login.html" class="loginButton singleTextBox">Register</a-->
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function() {			
		$().UItoTop({ easingType: 'easeOutQuart' });

	});
	</script>
	<a href="#" id="toTop"><span id="`"> </span></a>
</body>
</html>

