<!DOCTYPE HTML>
<head>
	<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/form_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/table_style.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="js/jquery.lightbox_me.js"></script>
</head>
<body>
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li style="float:left;"><a href="homepage.html">Home</a></li>
						<li><a href="createmember.html">Create Member</a></li>
						<li><a href="listmembers.html">List Members</a></li>
						<li><a href="createmovie.html">Create Movie</a></li>
						<li><a href="listmovies.html">List Movies</a></li>
						<li><a id="issueMovieLinkId">Issue Movie   </a></li>
						<li><a id="submitMovieLinkId">Submit Movie  </a></li>
						<li><a href="generatebill.html">Generate Bill</a></li>
						<li style="float:right;"><a href="contact.html">Logout</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">
			
			<script type="text/javascript">
			
			
			function allnumeric(inputtxt)  
			{  
				
				var numbers = /^[0-9]+$/;  
				if(inputtxt.match(numbers))  
				{  
					return true;  
				}  
				else  
				{
					return false;  
				}  
			}
			

			function validateGenerateBill()   
			{
				if(document.generateBill.membershipNo.value ==null ||document.generateBill.membershipNo.value == ''){
					alert('Membership No. cannot be blank');
					return false;
				} 
				else if(!allnumeric(document.generateBill.membershipNo.value))
				{
					alert("Membership No. should be numeric");
					return false;
				}
				else if(document.generateBill.membershipNo.value.length != 9 ) 
				{
					alert("Membership No. should be 9 Digits.");
					return false;
				}
				else
				{
					
					return true;
				}
			}

			$('#issueMovieLinkId').click(function(e) {
				$('#issueMoviePopup').lightbox_me({
					centered: true,preventScroll: true
				});
				e.preventDefault();
			});

			$('#submitMovieLinkId').click(function(e) {
				$('#submitMoviePopup').lightbox_me({
					centered: true,preventScroll: true
				});
				e.preventDefault();
			});

			
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			
			$(function() {
				
				var dd = new DropDown( $('#dd') );
				
				$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
				
			});
			</script>    
			<div class="header_bottom">
				<div class="header_bottom_left">										
				</div>
				
			</div>
		</div>
	</div>
	<!------------End Header ------------>
	<!------------Popoups ------------>
	<div id="issueMoviePopup" style="display:none">

		<h1 align="center">Issue Movie </h1>
		
		<form style="margin-top: 13px;" action="/issuemovie-submit" method="Post" name ="issuemovie" onsubmit="return validateIssueMovie()">
			<div class="fieldBlock">
				<input id="membershipNoIM" class="singleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
			</div>

			<div class="fieldBlock">
				<input name="Submit" class="loginButton" type="submit" value="Next>>" />
			</div>			
		</form>
	</div>

	<div id="submitMoviePopup" style="display:none">
		<h1 align="center">Submit Movie </h1>
		<form style="margin-top: 13px;" action="/submitmovie-submit" method="POST" name="returnmovie" onsubmit="return validateReturnMovie()">
			<div class="fieldBlock">
				<input id="membershipNoSM" class="singleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
			</div>
			<div class="fieldBlock">
				<input name="Submit" class="loginButton" type="submit" value="Next>>" />
			</div>			
		</form>
	</div>

	<!------------End Popups ------------>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3 style="display:inline;">Generate Bill</h3>
						<h3 style="display:inline;float:right">Welcome <%= userDet.firstname %>!!!</h3>
					</div>
				</div>
				<div class="container" align = "center">
					<div style="font-weight:bold;" align="center">
						<% if(fetchResult != null) {%>
						<%= fetchResult %>
						<% } %>
					</div>
					<form name="generateBill" action="/generatebill-submit" style="margin-top: 13px;" method="POST" onsubmit="return validateGenerateBill()">
						<div class="fieldBlock">
							<input id="membershipNoGB" class="doubleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
							
							<input name="Submit" class="loginButton doubleTextBox" type="submit" value="Next>>" />
							
						</div>

					</form>
				</div>

				<div class="section group">
					<div class="section group">
						<%
						if(member !=null ){
							%>
							<div class="content_top">
								<div class="heading">
									<h3 style="display:inline;">Bill Details</h3>
								</div>
							</div>
							<div align="center">
								<div class="container" align = "center">
									<header>
										<h1 align="center">User Information </h1>
									</header>
									<div class="fieldBlock">
										<div class="doubleTextBox">Membership No:</div>
										<div class="doubleTextBox"><%= member.membership_no %></div>
									</div>
									<div class="fieldBlock">
										<div class="doubleTextBox">First Name:</div>
										<div class="doubleTextBox"><%= member.first_name %></div>		
									</div>
									<div class="fieldBlock"> 
										<div class="doubleTextBox">Last Name:</div>
										<div class="doubleTextBox"><%= member.last_name %></div>		
									</div>

								</div>
								
								<br/><br/><br/>
								<div class="content_top">
									<div class="heading">
										<h3>Rented Videos</h3>
									</div>
								</div>

								<%if(member.member_type == "Simple") { %>
								<% 
								if(movies !=null && movies.length > 0){
									%>
									<table class="listTable" border=1 align = "center">
										<tr>
											<th>Movie Name:</th>
											<th>Issue Date:</th>
											<th>Rent Amount:</th>
											<th>Copies:</th>
											<th>Total:</th>
										</tr>
										<% 
										var grandTotal = 0;
										for(var i=0;i< movies.length;i++) {%>
										<tr>

											<td><%= movies[i].title %></td>
											<td><%= movies[i].rental_date %></td>
											<td>$<%= movies[i].rental_rate %></td>
											
											<td><%= movies[i].video_count %></td>

											<td><% 

											var total = 0;
											total = movies[i].video_count * movies[i].rental_rate;
											grandTotal = grandTotal + total;									
											%>
											$<%= total %></td>						

										</tr>
										<% } %>
										<tr>
											<td colspan="4" style="color:black;text-align:right;font-weight:bold" >
												Grand Total:
											</td>
											<td style="color:black;font-weight:bold">$<%=grandTotal %></td>
										</tr>

									</table>
									<%
								}
							else{
								%>
								<div class="content_top">
									<div class="heading">
										<h3>No movies rented.</h3>
									</div>
								</div>
								<%
								} } else {
									%>
									<% 
									if(movies !=null && movies.length > 0){
										%>
										<table class="listTable" border=1 align = "center">
											<tr>
												<th>Movie Name:</th>
												<th>Issue Date:</th>
												<th>Rent Amount:</th>
												<th>Copies:</th>
											</tr>
											<% for(var i=0;i< movies.length;i++) {%>
											<tr>

												<td><%= movies[i].title %></td>
												<td><%= movies[i].rental_date %></td>
												<td><%= movies[i].rental_rate %></td>
												<td><%= movies[i].video_count %></td>						

											</tr>
											<% } %>	
										</table>
										<%
									}
								else{
									%>
									<div class="content_top">
										<div class="heading">
											<h3>No movies rented.</h3>
										</div>
									</div>
									<%
								} %>
								<br/><br/>
								<div class="content_top">
									<div class="heading">
										<h3>Subscription Details</h3>
									</div>
								</div>


								<table class="listTable" border=1 align = "center" style="font-weight:bolder">
									<tr>
										<th>Description:</th>
										<th>Amount:</th>
										
									</tr>
									<tr>								
										<td>Monthly Subscription</td>
										<td><%= 25 %></td>
									</tr>
								</table>
								<% } %>
							</div>
							<%
						}

						%>

					</div>


				</div>
			</div>
		</div>
		<div class="footer">
			<div class="copy_right">
				<p>Company Name © All rights Reseverd | Design by  <a href="http://w3layouts.com">W3Layouts</a> </p>
			</div>			
		</div>

		<script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
		</script>
		<a href="#" id="toTop"><span id="`"> </span></a>
	</body>
	</html>

