<!DOCTYPE HTML>
<head>
	<title>List Videos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/form_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/styleLogin.css" rel="stylesheet" type="text/css" />
	<link href="/css/table_style.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="/js/jquery.lightbox_me.js"></script>
	<script type="text/javascript" src="/js/jquery.jscroll.js"></script>
</head>
<body>
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li style="float:left;"><a href="/">Home</a></li>
						<li><a href="/createmember?nocache=1">Create Member    </a></li>
						<li><a href="/listmember?nocache=1">List Members   </a></li>
						<li><a href="/createmovie?nocache=1">Create Video   </a></li>
						<li><a href="/listmovie?nocache=1">List Videos   </a></li>	
						<li><a id="issueMovieLinkId">Issue Videos   </a></li>
						<li><a id="submitMovieLinkId">Submit Videos  </a></li>
						<li><a href="/generatebill?nocache=1">Generate Bill  </a></li>
						<li style="float:right"><a href="/sign-out?nocache=1">Logout</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">
			
			<script type="text/javascript">
			
			function allnumeric(inputtxt)  
			   {  
				 
				 var numbers = /^[0-9]+$/;  
				 if(inputtxt.match(numbers))  
				 {  
				  return true;  
				 }  
				 else  
				 {
				  return false;  
				 }  
			   }
			   

				function validateIssueMovie()   
			   {
			     if(document.issuemovie.membershipNo.value ==null ||document.issuemovie.membershipNo.value == ''){
						alert('Membership No. cannot be blank');
						return false;
					} 
				else if(!allnumeric(document.issuemovie.membershipNo.value))
				{
					alert("Membership No. should be numeric");
					return false;
				}
				else if(document.issuemovie.membershipNo.value.length != 9 ) 
				{
					alert("Membership No. should be 9 Digits.");
					return false;
				}
				else
				{
					
					return true;
				}
			    }
				
				function validateReturnMovie()   
				   {
				     if(document.returnmovie.membershipNo.value ==null ||document.returnmovie.membershipNo.value == ''){
							alert('Membership No. cannot be blank');
							return false;
						} 
					else if(!allnumeric(document.returnmovie.membershipNo.value))
					{
						alert("Membership No. should be numeric");
						return false;
					}
					else if(document.returnmovie.membershipNo.value.length != 9 ) 
					{
						alert("Membership No. should be 9 Digits.");
						return false;
					}
					else
					{
						
						return true;
					}
				    }
				
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			
			$(function() {
				$('.scroll').jscroll();
				
				var dd = new DropDown( $('#dd') );
				
				$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
				
			});

			$('#issueMovieLinkId').click(function(e) {
				$('#issueMoviePopup').lightbox_me({
					centered: true,preventScroll: true
				});
				e.preventDefault();
			});

			$('#submitMovieLinkId').click(function(e) {
				$('#submitMoviePopup').lightbox_me({
					centered: true,preventScroll: true
				});
				e.preventDefault();
			});

			
			
			
			</script>    
			<div class="header_bottom">
				<div class="header_bottom_left">										
				</div>
				
			</div>
		</div>
	</div>
	<!------------End Header ------------>

	<!------------Popoups ------------>
	<div id="issueMoviePopup" style="display:none;background:grey">

		<h1 align="center" style="font-size:25px;font-weight:bold">Issue Videos </h1>
		<form style="margin-top: 13px;" action="/issuemovie-submit" method="Post" name ="issuemovie" onsubmit="return validateIssueMovie()">
			<div class="fieldBlock">
				<input id="membershipNoIM" class="singleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
			</div>
			<br/>
			<div class="fieldBlock" align="center">
				<input name="Submit" class="submitButtonClass" type="submit" value="Next>>" />
			</div>			
		</form>
	</div>

	<div id="submitMoviePopup" style="display:none;background:grey">
		<h1 align="center" style="font-size:25px;font-weight:bold">Submit Videos </h1>
		<form style="margin-top: 13px;" action="/submitmovie-submit" method="POST" name="returnmovie" onsubmit="return validateReturnMovie()">
			<div class="fieldBlock">
				<input id="membershipNoSM" class="singleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
			</div>
		</br>
		<div class="fieldBlock" align="center">
			<input name="Submit" class="submitButtonClass" type="submit" value="Next>>" />
		</div>
		</form>			
</div>

<!------------End Popups ------------>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3 style="display:inline;">List Videos</h3>
						<h3 style="display:inline;float:right">Welcome <%= userDet.firstname %>!!!</h3>
					</div>
				</div>
				<div class="section group">
					<form method="POST" action="/listmovie-submit">
						<div class="container">
							<header>
								<h1 align="center">Filter videos based on criteria below</h1>
							</header>

							<div class="fieldBlock">
								<input id="title" maxlength="100" name="title" class="singleTextBox" placeholder="Video Name" type="text"></input>
							</div>
							<div class="fieldBlock">
								<select  id ="videoTypeId" class="doubleTextBox" name="videoTypeId" style="width:300px;">
									<option value="">Video Type</option>
									<% for(var i=0;i<videoTypes.length;i++) { %>
									<option value="<%=videoTypes[i].id %>"><%=videoTypes[i].name %></option>
									<% } %>
								</select>
							</div>
							<div class="fieldBlock">
								<select  id ="releaseYear" class="doubleTextBox" name="releaseYear" style="width:300px;">
									<option value="">Release Year</option>
									<% for(var i=0;i<releaseDates.length;i++) { %>
									<option value="<%=releaseDates[i].release_year %>"><%=releaseDates[i].release_year %></option>
									<% } %>
								</select>

								<select style="width:300px;" id ="categoryIds" name="categoryIds" class="doubleTextBox" multiple>
									<% for(var i in categories) { %>
									<option value="<%= categories[i]['id'] %>"><%=categories[i]["name"]%></option>
									<% } %>
								</select>
							</div>
							
							<div class="fieldBlock">
								<select  id ="certificationId" class="doubleTextBox" name="certificationId" style="width:300px;">
									<option value="">Certification</option>
									<% for(var i in certificates) { %>
									<option value="<%= certificates[i]['id'] %>"><%=certificates[i]["name"]%></option>
									<% } %>
								</select>

								
							</div>


							<div class="fieldBlock">
								<input class="tripleTextBox" id="rentalRateMin" placeholder="Rental Rate Min" maxlength="25" name="rentalRateMin" type="number"></input>
								<input class="tripleTextBox" id="rentalRateMax" placeholder="Rental Rate Max" maxlength="25" name="rentalRateMax" type="number"></input>
								
								<div class="tripleTextBox" align="center" style="width:143px;">
									<label for="isAvailable">Is Available: </label>
									<input style="margin-top:17px" id="isAvailable" type="checkbox" name="isAvailable" checked></input>
								</div>
							</div>
						</br>
							<div class="fieldBlock" align="center">
								<input name="Filter" class="submitButtonClass singleTextBox" type="submit" value="Filter"/>
								<!-- a href="login.html" class="loginButton singleTextBox">Filter</a-->
							</div>

						</div>

					</div>

				</form>

				<div class="content_bottom">
					<div class="heading">
						<div class="header_bottom_center">
						</div>
						<h3>Video Listings</h3>
					</div>
				</div>
				<% if(search == null) { 
								%>
				<div class="scroll">
				<table>
				<tr>
				<td>
				<% } %>
				<%
				var videoIndex = 0;
				if(movies != null && movies.length > 0) {
					var numOfSections = (movies.length / 5);
					numOfSections = Math.floor(numOfSections);
					var videoIndex = 0;
					var gridSize=5;
					
					console.log(numOfSections + " " + movies.length);
					for(var i=0;i<=numOfSections;i++) {
						%>
						<div class="section group">
							<%
								if(i== numOfSections)
										{
										console.log("i" + i + "j" + j + "hi");
											gridSize = (movies.length%5);
											console.log(gridSize);
										}
							for(var j=0;j<gridSize;j++)
								{
								
									%>
									<div class="grid_1_of_5 images_1_of_5">
										<a href="/movie/<%=movies[videoIndex].id %>?nocache=1"><img src="<%=movies[videoIndex].poster%>" alt="" /></a>
										<h2 style="font-size:20px"><a href="/movie/<%=movies[videoIndex].id %>?nocache=1"><%= movies[videoIndex].title %> (<%= movies[videoIndex].release_year %>)</a></h2>
										<div class="price-details">
											<div class="price-number">
												<p style="font-size:14px;display:inline;"><span class="rupees">$<%= movies[videoIndex].rental_rate %></span></p>
											</div>
										</div>
										
										<div style="display:inline;">
											<p style="font-size:14px;color:red;float:right"><%= movies[videoIndex].certification %></p>

										</div>
										<div class="clear"></div>
										<div style="display:inline;">
											<p style="font-size:14px;color:purple">Available Copies:<%= movies[videoIndex].available_copies %></p>

										</div>
										<div class="clear"></div>
										<div style="display:inline;">
											<p style="font-size:14px;color:brown;"><%= movies[videoIndex].categories %></p>
										</div>
										<div class="clear"></div>
										<div>
											<div class="add-cart">								
												<h4><a href="/movie/<%=movies[videoIndex].id %>?nocache=1">View</a></h4>
											</div>
											<div class="add-cart">								
												<h4><a href="/editmovie/<%=movies[videoIndex].id %>?nocache=1">Edit</a></h4>
											</div>
											<div class="add-cart">								
												<h4><a href="/deletemovie/<%=movies[videoIndex].id %>?nocache=1">Delete</a>	</h4>
											</div>

										</div>			 
									</div>
									<%
									videoIndex++;
									
									}
									%>
								</div>
								<%
								} }
								%>
								<% if(search == null) { 
								%>
								</td>
								</tr>
								<tr>
								<td>
								
								<a href="/listvideosnippet/<%=movies[videoIndex-1].id %>">Add More</a>
								
								</td>
								</tr>
								
								</table>
								<% } 
								%>
								</div>
								
							</div>


						</div>
					</div>
				</div>
				
				<script type="text/javascript">
				$(document).ready(function() {			
					$().UItoTop({ easingType: 'easeOutQuart' });

				});
				</script>
				<a href="#" id="toTop"><span id="`"> </span></a>
			</body>
			</html>

