<!DOCTYPE HTML>
<head>
	<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/form_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/styleLogin.css" rel="stylesheet" type="text/css" />
	<link href="/css/table_style.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
		<script type="text/javascript" src="/js/jquery.lightbox_me.js"></script>
</head>
<body>
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li style="float:left;"><a href="/">Home</a></li>
						<li><a href="/createmember?nocache=1">Create Member    </a></li>
						<li><a href="/listmember?nocache=1">List Members   </a></li>
						<li><a href="/createmovie?nocache=1">Create Video   </a></li>
						<li><a href="/listmovie?nocache=1">List Videos   </a></li>	
						<li><a id="issueMovieLinkId">Issue Videos   </a></li>
						<li><a id="submitMovieLinkId">Return Videos  </a></li>
						<li><a href="/generatebill?nocache=1">Generate Bill  </a></li>
						<li style="float:right"><a href="/sign-out?nocache=1">Logout</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">
			
			<script type="text/javascript">
			
			function allnumeric(inputtxt)  
			   {  
				 
				 var numbers = /^[0-9]+$/;  
				 if(inputtxt.match(numbers))  
				 {  
				  return true;  
				 }  
				 else  
				 {
				  return false;  
				 }  
			   }
			   

				function validateIssueMovie()   
			   {
			     if(document.issuemovie.membershipNo.value ==null ||document.issuemovie.membershipNo.value == ''){
						alert('Membership No. cannot be blank');
						return false;
					} 
				else if(!allnumeric(document.issuemovie.membershipNo.value))
				{
					alert("Membership No. should be numeric");
					return false;
				}
				else if(document.issuemovie.membershipNo.value.length != 9 ) 
				{
					alert("Membership No. should be 9 Digits.");
					return false;
				}
				else
				{
					
					return true;
				}
			    }
				
				function validateReturnMovie()   
				   {
				     if(document.returnmovie.membershipNo.value ==null ||document.returnmovie.membershipNo.value == ''){
							alert('Membership No. cannot be blank');
							return false;
						} 
					else if(!allnumeric(document.returnmovie.membershipNo.value))
					{
						alert("Membership No. should be numeric");
						return false;
					}
					else if(document.returnmovie.membershipNo.value.length != 9 ) 
					{
						alert("Membership No. should be 9 Digits.");
						return false;
					}
					else
					{
						
						return true;
					}
				    }
				
			$(document).ready(function(){
				$(".role").click(function(){
					if($(this).val() == 1) {
						$("#memberType").attr("hidden","");
					} else {
						$("#memberType").removeAttr("hidden");
					}
				});


			});

			$('#issueMovieLinkId').click(function(e) {
				$('#issueMoviePopup').lightbox_me({
					centered: true,preventScroll: true
				});
				e.preventDefault();
			});

			$('#submitMovieLinkId').click(function(e) {
				$('#submitMoviePopup').lightbox_me({
					centered: true,preventScroll: true
				});
				e.preventDefault();
			});

			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			
			$(function() {
				
				var dd = new DropDown( $('#dd') );
				
				$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
				
			});
			</script>    
			<div class="header_bottom">
				<div class="header_bottom_left">										
				</div>
				
			</div>
		</div>
	</div>
	<!------------End Header ------------>
	<!------------Popoups ------------>
	<div id="issueMoviePopup" style="display:none;background:grey">

		<h1 align="center" style="font-size:25px;font-weight:bold">Issue Videos </h1>
		<form style="margin-top: 13px;" action="/issuemovie-submit" method="Post" name ="issuemovie" onsubmit="return validateIssueMovie()">
			<div class="fieldBlock">
				<input id="membershipNoIM" class="singleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
			</div>
			<br/>
			<div class="fieldBlock" align="center">
				<input name="Submit" class="submitButtonClass" type="submit" value="Next>>" />
			</div>			
		</form>
	</div>

	<div id="submitMoviePopup" style="display:none;background:grey">
		<h1 align="center" style="font-size:25px;font-weight:bold">Return Videos </h1>
		<form style="margin-top: 13px;" action="/submitmovie-submit" method="POST" name="returnmovie" onsubmit="return validateReturnMovie()">
			<div class="fieldBlock">
				<input id="membershipNoSM" class="singleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
			</div>
		</br>
		<div class="fieldBlock" align="center">
			<input name="Submit" class="submitButtonClass" type="submit" value="Next>>" />
		</div>			
</div>
	<!------------End Popups ------------>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3 style="display:inline;">List Members</h3>
						<h3 style="display:inline;float:right">Welcome <%= userDet.firstname %>!!!</h3>
					</div>
				</div>
				<div class="section group">
					<form method="POST" action="/listmember-submit">
						<div class="container">
							<header>
								<h1 align="center">Filter members based on criteria below</h1>
							</header>
							<div class="fieldBlock">
								<div class="doubleTextBox" align="center">
									<div style="padding:0.5cm 0.5cm 0.5cm 0.5cm;">
										<% for(var i in roles) { %>
										<input type="radio" class="role" name="roleId" value="<%=roles[i].id %>"><%=roles[i].name%>
										<% } %>
									</div>
								</div>
								
								<div id="memberType" class="doubleTextBox" align="center" hidden>
									<div style="padding:0.5cm 0.5cm 0.5cm 0.5cm;">
										<% for(var i in memberTypes) { %>
										<input type="radio" name="memberTypeId" value="<%=memberTypes[i].id %>"><%=memberTypes[i].name%>
										<% } %>
									</div>
								</div>
							</div>

							<div class="fieldBlock">
								<input id="fname" name="fname" class="doubleTextBox" placeholder="First Name" type="text"></input>
								<input id="lname" name="lname" class="doubleTextBox" placeholder="Last Name" type="text"></input>
							</div>

							<div class="fieldBlock">
								<input id="membershipNo" class="doubleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
								<input class="doubleTextBox" id="email" maxlength="75" name="email" placeholder="E-mail Address" type="text"></input>
							</div>

							<div class="fieldBlock">
								<input class="doubleTextBox" id="city" maxlength="50" name="city" placeholder="City" type="text"></input>
								<select id="stateId" name="stateId" style="width:300px;"class="doubleTextBox">
									<option value="">State</option>
									<% for(var i in states) { %>
									<option value="<%=states[i].id %>"><%=states[i].name %></option>
									<% } %>
								</select>
							</div>

							<div class="fieldBlock">
								<input id="zip1" maxlength="5" name="zip1" class="doubleTextBox" placeholder="Zip Code" type="text"></input>
								<input id="zip2" class="doubleTextBox" maxlength="4" name="zip2" placeholder="Zip Extn" type="text"></input>
							</div>
						</br>
							<div class="fieldBlock" align="center">
								<input name="Filter" class="submitButtonClass singleTextBox" type="submit" value="Filter"/>
							</div>

						</div>

					</div>

				</form>
				<div class="content_bottom">
					<div class="heading">
						<div class="header_bottom_center">
						</div>

						<h3>Members</h3>
					</div>
				</div>
				<div class="section group">
					<table class="listTable">
						<tr>
							<td>Sr. No.</td>
							<td>Membership No.</td>
							<td>First Name</td>
							<td>Last Name</td>
							<td>Role</td>
							<td>Member Type</td>
							<td>View</td>
							<td>Edit</td>
							<td>Delete</td>
						</tr>
						<% if(members != null && members.length > 0) {
							
							for(var i=0;i<members.length;i++) {
								//console.log(members[i].membership_no);
								%>
								<tr>
									<td><%= i+1 %></td>
									<td><%= members[i].membership_no %></td>
									<td><%= members[i].first_name %></td>
									<td><%= members[i].last_name %></td>
									<td><%= members[i].role %></td>
									<td widtd="30px">
										<%= members[i].member_type_name %>
									</td>
									<td><a href="/member/<%=members[i].membership_no %>?nocache=1">View</a></td>
									<td><a href="/editmember/<%=members[i].membership_no %>?nocache=1">Edit</a></td>
									<td><a href="/deletemember/<%=members[i].membership_no %>?nocache=1" onclick="return confirm('Are you sure?');">Delete</a></td>
								</tr>
								<% } } %>
							</table>
						</div>
					</div>

					
				</div>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
		</script>
		<a href="#" id="toTop"><span id="`"> </span></a>
	</body>
	</html>

