<!DOCTYPE HTML>
<head>
	<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/form_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/table_style.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
		<script type="text/javascript" src="/js/jquery.lightbox_me.js"></script>
</head>
<body>
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li style="float:left;"><a href="/">Home</a></li>
						<li><a href="/createmember?nocache=1">Create Member    </a></li>
						<li><a href="/listmember?nocache=1">List Members   </a></li>
						<li><a href="/createmovie?nocache=1">Create Video   </a></li>
						<li><a href="/listmovie?nocache=1">List Videos   </a></li>	
						<li><a id="issueMovieLinkId">Issue Videos   </a></li>
						<li><a id="submitMovieLinkId">Return Videos  </a></li>  
						<li><a href="/generatebill?nocache=1">Generate Bill  </a></li>
						<li style="float:right"><a href="/sign-out?nocache=1">Logout</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">
			
			<script type="text/javascript">
			function allnumeric(inputtxt)  
			   {  
				 
				 var numbers = /^[0-9]+$/;  
				 if(inputtxt.match(numbers))  
				 {  
				  return true;  
				 }  
				 else  
				 {
				  return false;  
				 }  
			   }
			   

				function validateIssueMovie()   
			   {
			     if(document.issuemovie.membershipNo.value ==null ||document.issuemovie.membershipNo.value == ''){
						alert('Membership No. cannot be blank');
						return false;
					} 
				else if(!allnumeric(document.issuemovie.membershipNo.value))
				{
					alert("Membership No. should be numeric");
					return false;
				}
				else if(document.issuemovie.membershipNo.value.length != 9 ) 
				{
					alert("Membership No. should be 9 Digits.");
					return false;
				}
				else
				{
					
					return true;
				}
			    }
				
				function validateReturnMovie()   
				   {
				     if(document.returnmovie.membershipNo.value ==null ||document.returnmovie.membershipNo.value == ''){
							alert('Membership No. cannot be blank');
							return false;
						} 
					else if(!allnumeric(document.returnmovie.membershipNo.value))
					{
						alert("Membership No. should be numeric");
						return false;
					}
					else if(document.returnmovie.membershipNo.value.length != 9 ) 
					{
						alert("Membership No. should be 9 Digits.");
						return false;
					}
					else
					{
						
						return true;
					}
				    }
				
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			
			$(function() {
				
				var dd = new DropDown( $('#dd') );
				
				$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
				
			});
			$('#issueMovieLinkId').click(function(e) {
				$('#issueMoviePopup').lightbox_me({
					centered: true,preventScroll: true
				});
				e.preventDefault();
			});

			$('#submitMovieLinkId').click(function(e) {
				$('#submitMoviePopup').lightbox_me({
					centered: true,preventScroll: true
				});
				e.preventDefault();
			});

			</script>    
			<div class="header_bottom">
				<div class="header_bottom_left">										
				</div>
				
			</div>
		</div>
	</div>
	<!------------End Header ------------>
	<!------------Popoups ------------>
	<div id="issueMoviePopup" style="display:none">

		<h1 align="center">Issue Videos </h1>

		<form style="margin-top: 13px;" action="/issuemovie-submit" method="Post" name ="issuemovie" onsubmit="return validateIssueMovie()">
			<div class="fieldBlock">
				<input id="membershipNoIM" class="singleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
			</div>

			<div class="fieldBlock">
				<input name="Submit" class="loginButton" type="submit" value="Next>>" />
			</div>			
		</form>
	</div>

	<div id="submitMoviePopup" style="display:none">
		<h1 align="center" style="font-size:25px;font-weight:bold">Return Videos </h1>
		<form style="margin-top: 13px;" action="/submitmovie-submit" method="POST" name="returnmovie" onsubmit="return validateReturnMovie()">
			<div class="fieldBlock">
				<input id="membershipNoSM" class="singleTextBox" placeholder="Membership No." maxlength="75" name="membershipNo" type="text"/>
			</div>
			<div class="fieldBlock">
				<input name="Submit" class="loginButton" type="submit" value="Next>>" />
			</div>			
		</form>
	</div>
	<!------------End Popups ------------>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3 style="display:inline;">Video Details</h3>
						<h3 style="display:inline;float:right">Welcome <%= userDet.firstname %>!!!</h3>
					</div>
				</div>
				<div class="section group">
					<%
					if(movie !=null ){
						%>
						<div class="cont-desc span_1_of_2">
							<div class="product-details">				
								<div class="grid images_3_of_2">
									<img src="<%= movie.poster%>" alt="" />
								</div>
								<div class="desc span_3_of_2">
									<h2><%= movie.title %>(<%= movie.release_year %>) |<div style="color:red;display:inline"> <%= movie.certification %></div> | <%= movie.length %> min.</h2>
									<p><%= movie.description %></p>	
									<br/>
									<div class="price">
										<p style="display:inline">Rental Price: <span>$<%= movie.rental_rate %></span></p>&nbsp;&nbsp;
										<p style="display:inline">Discount: <span>$<%= movie.discount %></span></p>
									</div>
									<br/>
									<div class="available">
										<ul>
											<li><span>Video Type:</span> &nbsp;<%= movie.video_type %></li>			
											<li><span>Format:</span> &nbsp; <%= movie.format %></li>
											<li><span>Rating:</span> &nbsp; <%= movie.rating %></li>
											<li><span>Language:</span> &nbsp; <%= movie.language %></li>
											<li><span>Original Language:</span> &nbsp; <%= movie.original_language %> </li>
											<li><span>Availability:</span>&nbsp; <%= movie.available_copies %></li>
											<li><span>Replacement Cost:</span>&nbsp;$<%= movie.replacement_cost %></li>
										</ul>
									</div>
									<div class="share-desc">
										<div class="share">
											<p>Actors :</p><%= movie.actors %>		
											<br/><p>Genre :</p><%= movie.categories %>		
										</div>

										<div class="clear"></div>
									</div>

								</div>
								<div class="clear"></div>
							</div>
						</div>

						<%
					}
				else{
					%>
					<div class="fieldBlock">
						<div class="singleTextBox">Video Details Not Found</div>
					</div>
					<%
				}
				%>
			</div>

			<div class="section group">
				<div align="center">
					<div class="container" align = "center">
						<%
						if(users != null && users.length > 0) {
							%>
							<header>
								<h1 align="center">Users who rented this Video</h1>
							</header>

							<%

							for(var i in users) { %>
							<div class="fieldBlock">
								<div class="doubleTextBox"><%= users[i].membership_no %></div>
								<div class="doubleTextBox"><%= users[i].first_name %> <%= users[i].last_name %></div>
							</div>
							<%
						}
					}
				else{
					%>
					<div class="fieldBlock">
						<div class="singleTextBox">No User Rented this video yet</div>
					</div>
					<%
				}

				%>

			</div>

			<br/><br/><br/>
		</div>
	</div>
</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {			
	$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
<a href="#" id="toTop"><span id="`"> </span></a>
</body>
</html>

