<!DOCTYPE HTML>
<head>
	<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/form_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/table_style.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
</head>
<body>
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li style="float:left;"><a href="homepage.html">Home</a></li>
						<li><a href="createmember.html">Create Member</a></li>
						<li><a href="listmembers.html">List Members</a></li>
						<li><a href="createmovie.html">Create Movie</a></li>
						<li><a href="listmovies.html">List Movies</a></li>
						<li><a href="issuemovies.html">Issue Movies</a></li>
						<li><a href="submitmovie.html">Submit Movie</a></li>
						<li><a href="generatebill.html">Generate Bill</a></li>
						<li style="float:right;"><a href="contact.html">Logout</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">
			
			<script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			
			$(function() {
				
				var dd = new DropDown( $('#dd') );
				
				$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
				
			});
			</script>    
			<div class="header_bottom">
				<div class="header_bottom_left">										
				</div>
				
			</div>
		</div>
	</div>
	<!------------End Header ------------>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3>Video Details</h3>
					</div>
				</div>
				<div class="section group">
					<div align="center">
						<div class="container" align = "center">
							<header>
								<h1 align="center">Video Information</h1>
							</header>
							<%
							if(movie !=null ){
								%>
								<div class="fieldBlock">
									<div class="imageBox" style="height=100%" ><img  src="images/end-game.jpg" alt="" /></div>
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Video Title</div>
									<div class="doubleTextBox"><%= movie.title %></div>
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Description</div>
									<div class="doubleTextBox"><%= movie.description %></div>		
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Video Type</div>
									<div class="doubleTextBox"><%= movie.video_type %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Release Year</div>
									<div class="doubleTextBox"><%= movie.release_year %></div>		
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Rent Amount</div>
									<div class="doubleTextBox"><%= movie.rental_rate %></div>
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Discount</div>
									<div class="doubleTextBox"><%= movie.discount %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Available Copies</div>
									<div class="doubleTextBox"><%= movie.available_copies %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Format</div>
									<div class="doubleTextBox"><%= movie.format %></div>		
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Language</div>
									<div class="doubleTextBox"><%= movie.language %></div>
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Original Language</div>
									<div class="doubleTextBox"><%= movie.original_language %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Video Length(in minutes)</div>
									<div class="doubleTextBox"><%= movie.length %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Replacement Cost</div>
									<div class="doubleTextBox"><%= movie.replacement_cost %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Rating</div>
									<div class="doubleTextBox"><%= movie.rating %></div>		
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Certification</div>
									<div class="doubleTextBox"><%= movie.certification %></div>
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Actors</div>
									<div class="doubleTextBox"><%= movie.actors %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Category</div>
									<div class="doubleTextBox"><%= movie.categories %></div>		
								</div>


								<%
							}
						else{
							%>
							<div class="fieldBlock">
								<div class="singleTextBox">Video Details Not Found</div>
							</div>
							<%
						}
						%>

					</div>
				</div>
			</div>

			<div class="section group">
				<div align="center">
					<div class="container" align = "center">
						<%
						if(users != null && users.length > 0) {
							%>
							<header>
								<h1 align="center">Users who rented this Video</h1>
							</header>

							<%
							
								for(var i in users) { %>
								<div class="fieldBlock">
									<div class="doubleTextBox"><%= users[i].membership_no %></div>
									<div class="doubleTextBox"><%= users[i].first_name %> <%= users[i].last_name %></div>
								</div>
								<%
							}
						}
					else{
						%>
						<div class="fieldBlock">
							<div class="singleTextBox">No User Rented this movie yet.</div>
						</div>
						<%
					}
			
				%>

			</div>

			<br/><br/><br/>
		</div>
	</div>
</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {			
	$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
<a href="#" id="toTop"><span id="`"> </span></a>
</body>
</html>

