<!DOCTYPE HTML>
<head>
	<title>Issue Video Summary</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/form_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/table_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/styleLogin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="/js/jquery.lightbox_me.js"></script>
</head>
<body>
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li style="float:left;"><a href="/">Home</a></li>
						<li><a href="/viewusermovies?nocache=1">View Videos   </a></li>	 
						<li><a href="/userissuemovie?nocache=1">Rent Videos  </a></li>
						<li><a href="/user/<%= userDet.membershipNo%>?nocache=1">My Account  </a></li>
						<li><a href="/usergeneratebill?nocache=1">View Bill  </a></li>
						<li><a href="/changepassword?nocache=1">Change Password   </a></li>
						<li style="float:right"><a href="/sign-out?nocache=1">Logout</a></li>
					</ul> 
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">
			
			<script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			
			$(function() {
				
				var dd = new DropDown( $('#dd') );
				
				$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
				
			});

			

			</script>    
			<a href="/"><img style="margin: 10px 10px 0px 20px;"src="images/logo.png" alt="" /></a> 
			<div class="header_bottom">
				<div class="header_bottom_left">										
				</div>
				
			</div>
		</div>
	</div>
	<!------------End Header ------------>
	
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3 style="display:inline;">Issued Video Summary</h3>
						<h3 style="display:inline;float:right">Welcome <%= userDet.firstname %>!!!</h3>
					</div>
				</div>
				<div class="section group">
					<div class="section group">
						<div align="center">
							<div class="container" align = "center">
								<header>
									<h1 align="center">Issued Video Details</h1>
								</header>
								<br/>
								<div class="fieldBlock">
									<div class="imageBox"><img src="<%=movie.poster%>" alt="" /></a></div>
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">Video issued to</div>
									<div class="doubleTextBox"><%= member.membership_no %></div>
								</div>
								<div class="fieldBlock">
									<div class="doubleTextBox">First Name</div>
									<div class="doubleTextBox"><%= member.first_name %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Last Name</div>
									<div class="doubleTextBox"><%= member.last_name %></div>		
								</div>
								<div class="fieldBlock"> 
									<div class="doubleTextBox">Issued Video</div>
									<div class="doubleTextBox"><%= movie.title %></div>		
								</div>
								<form action="/userissuemovie" id ='IMSubmit' method="Post" name ="issuemovie"> 
                   					<input id="membershipNo" maxlength="75" name="membershipNo" value="<%= member.membership_no %>" type="hidden"/>
                   				</br>
									<input name="Submit" class="submitButtonClass" type="submit" value="Add More >>"/>
						 		</form>
	
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {			
		$().UItoTop({ easingType: 'easeOutQuart' });

	});
	</script>
	<a href="#" id="toTop"><span id="`"> </span></a>
</body>
</html>

