<tr>
<td>
<% for(var videoIndex in movies) { %>					
<div class="grid_1_of_5 images_1_of_5">
	<a href="/movie/<%=movies[videoIndex].id %>?nocache=1"><img src="<%=movies[videoIndex].poster%>" alt="" /></a>
	<h2 style="font-size:20px"><a href="/movie/<%=movies[videoIndex].id %>?nocache=1"><%= movies[videoIndex].title %> (<%= movies[videoIndex].release_year %>)</a></h2>
	<div class="price-details">
		<div class="price-number">
			<p style="font-size:14px;display:inline;"><span class="rupees">$<%= movies[videoIndex].rental_rate %></span></p>
		</div>
	</div>
	
	<div style="display:inline;">
		<p style="font-size:14px;color:red;float:right"><%= movies[videoIndex].certification %></p>

	</div>
	<div class="clear"></div>
	<div style="display:inline;">
		<p style="font-size:14px;color:purple">Available Copies:<%= movies[videoIndex].available_copies %></p>

	</div>
	<div class="clear"></div>
	<div style="display:inline;">
		<p style="font-size:14px;color:brown;"><%= movies[videoIndex].categories %></p>
	</div>
	<div class="clear"></div>
	<div align="center">
		<form action="/userissuemovieselect-submit" method="POST">
			<input type="hidden" name="membershipNo" value="<%=membershipNo%>"/>
			<input type="hidden" name="movieId" value="<%=movies[videoIndex].id%>"/>
			<% if(movies[i].available_copies > 0) { %>
			<input type="submit" value="Issue >>"/> 
			<%} else { %>
			<input type="submit" value="Issue >>" disabled/> 
			<%} %>
		</form>   

	</div>			 
</div>
<% } %>
</td>
</tr>
<tr>
<td>
	<a href="/userissuevideolistsnippet/<%= movies[movies.length-1].id%>">View More</a>
</td>
</tr>