<!DOCTYPE HTML>
<head>
	<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/form_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/table_style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/styleLogin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script> 
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="/js/jquery.lightbox_me.js"></script>
</head>
<body>
	<div class="header">
		<div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li style="float:left;"><a href="/">Home</a></li>
						<li><a href="/viewusermovies?nocache=1">View Videos   </a></li>	 
						<li><a href="/userissuemovie?nocache=1">Rent Videos  </a></li>
						<li><a href="/user/<%= userDet.membershipNo%>?nocache=1">My Account  </a></li>
						<li><a href="/usergeneratebill?nocache=1">View Bill  </a></li>
						<li><a href="/changepassword?nocache=1">Change Password   </a></li>
						<li style="float:right"><a href="/sign-out?nocache=1">Logout</a></li>
					</ul> 
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="wrap">
			
			<script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;
					
					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}
			
			$(function() {
				
				var dd = new DropDown( $('#dd') );
				
				$(document).click(function() {
										// all dropdowns
										$('.wrapper-dropdown-2').removeClass('active');
									});
				
			});

			</script>    
			<div class="header_bottom">
				<div class="header_bottom_left">										
				</div>
				
			</div>
		</div>
	</div>
	<!------------End Header ------------>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3 style="display:inline;">Video Details</h3>
						<h3 style="display:inline;float:right">Welcome <%= userDet.firstname %>!!!</h3>
					</div>
				</div>
				<div class="section group">
					<%
					if(movie !=null ){
						%>
						<div class="cont-desc span_1_of_2">
							<div class="product-details">				
								<div class="grid images_3_of_2">
									<img src="<%= movie.poster%>" alt="" />
								</div>
								<div class="desc span_3_of_2">
									<h2><%= movie.title %>(<%= movie.release_year %>) |<div style="color:red;display:inline"> <%= movie.certification %></div> | <%= movie.length %> min.</h2>
									<p><%= movie.description %></p>	
									<br/>
									<div class="price">
										<p style="display:inline">Rental Price: <span>$<%= movie.rental_rate %></span></p>&nbsp;&nbsp;
										<p style="display:inline">Discount: <span>$<%= movie.discount %></span></p>
									</div>
									<br/>
									<div class="available">
										<ul>
											<li><span>Video Type:</span> &nbsp;<%= movie.video_type %></li>			
											<li><span>Format:</span> &nbsp; <%= movie.format %></li>
											<li><span>Rating:</span> &nbsp; <%= movie.rating %></li>
											<li><span>Language:</span> &nbsp; <%= movie.language %></li>
											<li><span>Original Language:</span> &nbsp; <%= movie.original_language %> </li>
											<li><span>Available Copies:</span>&nbsp; <%= movie.available_copies %></li>
										</ul>
									</div>
									<div class="available">
										<div class="share">
											<p>Actors :</p><%= movie.actors %>		
											<br/><p>Genre :</p><%= movie.categories %>		
										</div>

										<div class="clear"></div>
									</div>

								</div>
								<div class="clear"></div>
							</div>
						</div>

						<%
					}
				else{
					%>
					<div class="fieldBlock">
						<div class="singleTextBox">Video Details Not Found</div>
					</div>
					<%
				}
				%>
			</div>
		</div>
	</div>
</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {			
	$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
<a href="#" id="toTop"><span id="`"> </span></a>
</body>
</html>

